.home {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }

  .mat-table {
    overflow: scroll;
  }

  .column {
    width: 45%;
  }

  .spacer {
    width: 10%
  }

  .left {
    float: left;
  }

  .right {
    float: right
  }